@media screen and (max-width: 1130px) {
    .navbar-heading {
        font-size: 34px;
    }

    .nav-link button {
        font-size: 16px;
    }
}

@media screen and (max-width: 1060px) {
    .navbar-heading {
        font-size: 32px;
    }

    .nav-link button {
        padding: 10px;
    }
}

@media screen and (min-width: 993px) {
    .nav-menu {
        display: flex !important;
    }   
}

@media screen and (max-width: 992px) {
    header {
        padding: 10px 25px;
    }

    .navbar {   
        justify-content: space-between !important;
        align-items: center !important;
    }

    .navbar-heading {
        font-size: 40px;
    }
    .navbar-toggler {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 18px;
        padding: 15px 0;
    border-top: 2px solid rgb(98, 94, 94);
    }

    #search-input {
        width: 80%;
    }

    .separator {
        display: block;
    }

    .nav-link button {
        background-color: lightcoral;
        color: white;
        font-size: 20px;
    }
    
    .nav-link button:hover {
        background-color: lightcoral;
        font-weight: 800;
        font-size: 21px;
    }

}
@media screen and (max-width: 768px) {
    .navbar-heading {
        font-size: 36px;
    }        
}

@media screen and (max-width: 576px) {
    header {
        padding: 10px 15px;
    }
    .navbar-heading {
        font-size: 34px;
    }        

    .navbar-toggler {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 440px) {
    .navbar-heading {
        font-size: 31px;
    }        
}

@media screen and (max-width: 340px) {
    .navbar-heading {
        font-size: 29px;
    }
    
    .navbar-toggler {
        font-size: 16px !important;
    }
}