@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Kreon:wght@300..700&family=Marmelad&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Laila", serif !important;
    font-style: normal;


}

:root {
    --heading-color: rgb(33, 37, 41);
}

body {
    /* background-color: #f5f2f2 !important; */
    background-color: seagreen !important;
}

header {
    padding: 10px;
    background-color: lightcoral;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center !important;
}

.navbar-heading {
    font-size: 38px;
    /* font-family: "Marmelad", sans-serif !important; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-weight: 900;
    /* font-family: "Kreon", serif !important; */

}


.navbar-toggler {
    display: none;
}

#search-input {
    padding: 8px 10px;
    width: 35vw;
    /* margin: 0 6px; */
    border-radius: 11px;
    height: 50px;
    font-size: 17px;
    border: 2px solid #6c6a6a;
}

.nav-list {
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.nav-list li {
    list-style-type: none;
}

.nav-link button {
    padding: 10px 13px;
    font-size: 17px;
    border-radius: 5px;
    background-color: var(--heading-color);
    color: white;
    transition: 0.4s;
    font-weight: 500;
    border: 0;
}

.nav-link button:hover {
    background-color: white;
    color: rgb(33, 37, 41);
}


.content {
    padding: 40px 50px;
    max-width: 95vw;
    margin: auto;
}

.menu-heading {
    font-size: 45px;
    padding: 0px 10px 3px 10px;
    width: 25%; 
    border-bottom: 3px solid var(--heading-color);
    /* text-decoration: underline; */
}

.menu-dishes {
    padding: 40px 25px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 45px;
}

.menu-item {
    transition: 0.3s;
    /* font-family: "Marmelad", sans-serif; */

}

.menu-item:hover {
    transform: scale(1.04);
}

.card-title {
    color: teal !important;
    font-weight: 700;
    /* font-family: "Marmelad", sans-serif; */

}

.card-subtitle {
    font-weight: 600;
}

.card-text {
    color: firebrick !important;
    font-weight: 400;
    /* font-family: "Marmelad", sans-serif; */

}

.card-text:last-child {
    font-weight: 500;
}